main {
    background-color: rgb(250, 167, 200);
    text-align: center;
    width: 70%;
    display: block;
    margin: 0 auto;
    
}
h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}
h1:hover {
    color: black;
}
.quote1 {
    color: white;
    font-family: sans-serif;
    font-size: .6em;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
}
.credit {
    color: white;
    font: bold 13px Arial, sans-serif;
}
.first-four-principles {
    Color: black;
    font-family: bold 1em Arial, sans-serif;
    font-size: .8em;
    width: 100%;
    text-align: left;
    font-weight: 900em;
}
img {
    width: 18%;
    margin: 0 auto;
  }
.main-para {
    font-family: serif;
    font-size: 1.5em;
    line-height: 1.3em;
    width: 30%;
    margin: 50px auto;
    text-align: center;
    color: white;
  }
.bottom-credit {
    color: black;
    width: 38%;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: .7em;
    font-weight: 700;
}
/* <h1>Education</h1>
<p class="quote1">Education is the difference between wishing you could help others & being able to help them</p>
<p class="credit">---President Nelson</p>
<p class='first-four-principles'>
    <p>1. Faith in the Lord Jesus Christ</p>
    <p>2. Repentance </p>
    <p>3. Baptism by immersion for the remission of sins</p>
    <p>4. Laying on of hands for the gift of the Holy Ghost</p>
</p>
<img src="https://assets.ldscdn.org/77/3d/773d0c3048a583c96bbceb8e9067b3a4394585c7/russell_nelson_official_portrait_2018.jpeg" alt="President Russell M. Nelson" />
<p class='main-para'>"Because of the Savior's Atonement, His gospel provides an invitation to keep changing, growing, and becoming more pure."</p>
<p class="bottom-credit">
    <p>Russell M. Nelson</p>
    <p>President of the Church of Jesus Christ of Latter-day Saints</p>
</p> */