/*   Import the fonts   */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Mukta&family=Rubik&family=Spectral:wght@600&display=swap');


/* Root rules to apply to all aspects of the CSS */
:root {

    --primary-color: #9928C2;
    --secondary-color: #1E0094;
    --accent1-color: #93EE1D;
    --accent2-color: #5BC2EE;  


    /* change the values below to your chosen font(s) */
    --heading-font: Spectral, "DM Serif Display", serif;
    --paragraph-font: Rubik, Mukta, Sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #93EE1D;  /* headlines on a white background */ 
    --headline-color-on-color: #1E0094; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #9928C2;
    --nav-link-color: #5BC2EE;
    --nav-background-color: #1E0094;
    --nav-hover-link-color: #9928C2;
    --nav-hover-background-color: #93EE1D;
}
body {
    background-color: #93EE1D;
    max-width: 1200px;
    margin: 0 auto;
}
/****************************************************************
*
* Default tag properties *
*
*****************************************************************/
h1 {
    font-family: Spectral, "DM Serif Display", serif;
    font-size: 2.5em;
    color: #93EE1D;
}
h2, h3 {
    font-family: Rubik, Mukta, Sans-serif;
    color: #5BC2EE;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1.2em;
}
.left-half {
	grid-column: 1/6;
}
.number-list {
	list-style-type: decimal;
}
.alpha-number {
	list-style-type: lower-alpha;
}
li {
	font-size: 1.25rem;
	margin: 5px 0;
	color:#5BC2EE;
}

/****************************************************************
* *
* header area properties *
* *
*****************************************************************/
header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    background-color: #5BC2EE;
    margin: 30px;
    font-size: 1.6em;
    border-radius: 5px;
}
.logo {
    width: 140px;
    border-radius: 5px;
    border: 30px;
    border: 10px solid #5BC2EE;
}
nav {
    display: flex;
    justify-content: space-around;
}
a:hover {
    color: #9928C2;
    background-color: #93EE1D;
}
/****************************************************************
* *
* body area properties - home page*
* *
*****************************************************************/
.welcome-box, .member-box, .mission-box { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    padding-top: 30px;
    background-color: #9928C2;
    padding-bottom: 15px;
    border-radius: 5px;
    padding: 15px 30px;
    border: 30px;
    margin: 30px; /* This produces the white space around each box */
    gap: 1em 2em;
}
.welcome-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
}
.welcome-box h1 {
    grid-column: 1/13;
}
.welcome-box h2 {
    grid-column: 1/13;
}
.welcome-box h3 {
    grid-column: 7/13;
    grid-row: 5/6;
    padding-left: 10px;
}
.welcome-box img {
    grid-column: 1/7;
    width: 90%;
    box-shadow: 5px 5px 10px #93EE1D;
    border-radius: 5px;
    border: 30px;
    border: 10px solid #1E0094;
}
.grid-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1em;
    gap: 1em 2em;
    display: block;
}
.member-box h1 {
    grid-column: 1/6;
}
.button1, .button2, .button3, .button4, .button5, .button6, .button7, .button8, .button9, .button10, .button11 {
    background-color: #1E0094;
    color: #5BC2EE;
    font-size: 1.5em;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    margin: 0 30px;    
}
.column-1 a, .column-2 a {
    margin: 1em 0;
    padding: .5em;
    width: 90%;
}
.column-1 {
    grid-column: 1/7;
}
.column-2 {
    grid-column: 7/-1;    
}
.mission-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.mission-box h1 {
    grid-column: 1/13;
}
/* .mission-box h2, h3{
    grid-column: 1/8;
}
.mission-box h3 {
    margin-left: 20px;
} */
.mission-box img {
    box-shadow: 5px 5px 10px #93EE1D;
    grid-column: 6/13;
    grid-row: 3/9;
    border: 10px solid #1E0094;
    width: 95%;
    margin-left: 10px;
    order: 2;
}
/****************************************************************
* *
* body area properties - Doing Good page (2nd page)*
* *
*****************************************************************/
.working-box, .Christmas-box, .third-Thurs-box, .volunteering-box { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    padding-top: 30px;
    background-color: #9928C2;
    padding-bottom: 15px;
    border-radius: 5px;
    padding: 15px 30px;
    border: 30px;
    margin: 30px; /* This produces the white space around each box */
    gap: 1em 2em;
}
.working-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
}
.working-box h1 {
    grid-column: 1/13;
}
.working-box h2 {
    grid-column: 4/10;
    grid-row: 2/4;
}
.working-box img {
    width: 90%;
    box-shadow: 5px 5px 10px #93EE1D;
    border-radius: 5px;
    border: 10px solid #1E0094;
}
.start {
    grid-column: 1/4;
    grid-row: 2/4;
}
.end {
    grid-column: 10/13;
    grid-row: 2/4;
}
.Christmas-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
}
.Christmas-box h1 {
    grid-column: 1/5;
}
.Christmas-box h2 {
    grid-column: 5/13;
    align-self:center;
}
.third-Thurs-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
}
.third-Thurs-box h1 {
    grid-column: 1/8;
}
.third-Thurs-box h2 {
    grid-column: 6/13;
    
}
.bullet-list {
    list-style-type:square;
    grid-column: 6/13;
}
.third-Thurs-box img {
    width: 95%;
    box-shadow: 5px 5px 10px #93EE1D;
    border-radius: 5px;
    border: 10px solid #1E0094;
}
#third-Thurs-flyer {
    grid-column: 1/6;
    grid-row: 2/15;
}
#interfaith-sock-monkies {
    grid-column: 8/12;
    grid-row: 1/2;
}
#youth-dfg {
    grid-column: 6/9;
}
#man-dfg {
    grid-column: 10/12;
    width: 90%;
}
.volunteering-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
}
.volunteering-box h1 {
    grid-column: 1/8;
}
.volunteering-box h2 {
    grid-column: 1/13;
}
.volunteering-box a {
    background-color: #1E0094;
    color: #5BC2EE;
    font-size: 2em;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    margin: 0 30px;  
    grid-column: 8/12; 
    text-align: center;
}
.volunteering-box a:hover {
    color: #9928C2;
    background-color: #93EE1D;
}

/****************************************************************
* *
* footer area properties *
* *
*****************************************************************/
footer {
    background-color: #5BC2EE;
    font-size: 1.2em;
    font-weight: 700;
    margin: 30px;
    align-items: center;
    padding: 25px 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-radius: 5px;
}
footer p {
    grid-column: 1/8;
    color:black;
}
footer a {
    grid-column: 9/12;
    grid-row: 2/4;
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    border-radius: 5px;
    width: 80%;
    padding-top: 10px;
    gap: 1em 2em;
}


